{name, "gen_server2"}.
{description, "A copy of LSHIFT's gen_server2 behaviour, provided as an OTP library"}.
{homepage, "https://github.com/hyperthunk/gen_server2"}.
{rebar_compatible, true}.
{license, "Erlang Public License 1.1"}.
{url, {git, "https://github.com/hyperthunk/gen_server2.git", {branch, "master"}}}.
{applications, [gen_server2]}.
